In [1]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
#     MongoDB over SQL databases?
# A1. MongoDB is an open source NoSQL database management program.NoSQL (Not only SQL) is used as an alternative
#     to traditional relational databases. NoSQL databases are quite useful for working with large sets of 
#     distributed data.MongoDB is a more dynamic and complicated choice that is appropriate for hierarchical 
#     data because of its fundamental properties, as opposed to a SQL Database, which is still more 
#     predetermined and appropriate for other types of data storage.

In [2]:
# Q2. State and Explain the features of MongoDB.
# A2. Some of the features of MongoDB are:
#  a. Support ad-hoc queries:
#     In MongoDB, you can search by field, range query and it also supports regular expression searches.\
#  b. Indexing:
#     You can index any field in a document.
#  c. Replication:
#     MongoDB supports Master Slave replication.
#     A master can perform Reads and Writes and a Slave copies data from the master and can only be used for 
#     reads or back up (not writes).
#  d. Duplication of data:
#     MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its 
#     running condition in case of hardware failure.
#  e.  Load balancing:
#      It has an automatic load balancing configuration because of data placed in shards.

In [6]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
# A3.

In [20]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Shaurya0323:Shaurya0323@cluster0.r5zvekv.mongodb.net/?retryWrites=true&w=majority")
db=client.test
db = client['shaurya0323']
collection_shaurya0323=db["my_record"]

In [22]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#     and insert many records. Use the find() and find_one() methods to print the inserted record.
# A4.
data={"name":"Shaurya",
      "mail":"shaurya@abc.in",
      "phone_num":9895743843}
collection_shaurya0323.insert_one(data)

In [23]:
data2=[{"name":"Shrey","mail":"shrey@abc.in","phone_num":98575298287},
       {"name":"Shrey1","mail":"shrey1@abc.in","phone_num":98575294839},
       {"name":"Shrey2","mail":"shrey2@abc.in","phone_num":98575298859},
       {"name":"Shrey3","mail":"shrey3@abc.in","phone_num":98575298592}]
collection_shaurya0323.insert_many(data2)

In [24]:
for i in collection_shaurya0323.find():
    print(i)

{'_id': ObjectId('64e2e77cc0e52ce9537357b9'), 'name': 'Shaurya', 'mail': 'shaurya@abc.in', 'phone_num': 9895743843}
{'_id': ObjectId('64e2f21ec0e52ce9537357ba'), 'name': 'Shrey', 'mail': 'shrey@abc.in', 'phone_num': 98575298287}
{'_id': ObjectId('64e2f21ec0e52ce9537357bb'), 'name': 'Shrey1', 'mail': 'shrey1@abc.in', 'phone_num': 98575294839}
{'_id': ObjectId('64e2f21ec0e52ce9537357bc'), 'name': 'Shrey2', 'mail': 'shrey2@abc.in', 'phone_num': 98575298859}
{'_id': ObjectId('64e2f21ec0e52ce9537357bd'), 'name': 'Shrey3', 'mail': 'shrey3@abc.in', 'phone_num': 98575298592}
{'_id': ObjectId('64e2fe0cc0e52ce9537357be'), 'name': 'Shrey', 'mail': 'shrey@abc.in', 'age': 10}
{'_id': ObjectId('64e2fe0cc0e52ce9537357bf'), 'name': 'Shrey1', 'mail': 'shrey1@abc.in', 'age': 13}
{'_id': ObjectId('64e2fe0cc0e52ce9537357c0'), 'name': 'Shrey2', 'mail': 'shrey2@abc.in', 'age': 15}
{'_id': ObjectId('64e2fe0cc0e52ce9537357c1'), 'name': 'Shrey3', 'mail': 'shrey3@abc.in', 'age': 17}
{'_id': ObjectId('64e2fec1c0e52ce9537357c3'), 'name': 'Shaurya', 'mail': 'shaurya@abc.in', 'phone_num': 9895743843}
{'_id': ObjectId('64e2fec5c0e52ce9537357c4'), 'name': 'Shrey', 'mail': 'shrey@abc.in', 'phone_num': 98575298287}
{'_id': ObjectId('64e2fec5c0e52ce9537357c5'), 'name': 'Shrey1', 'mail': 'shrey1@abc.in', 'phone_num': 98575294839}
{'_id': ObjectId('64e2fec5c0e52ce9537357c6'), 'name': 'Shrey2', 'mail': 'shrey2@abc.in', 'phone_num': 98575298859}
{'_id': ObjectId('64e2fec5c0e52ce9537357c7'), 'name': 'Shrey3', 'mail': 'shrey3@abc.in', 'phone_num': 98575298592}

In [25]:
collection_shaurya0323.find_one()

{'_id': ObjectId('64e2e77cc0e52ce9537357b9'),
 'name': 'Shaurya',
 'mail': 'shaurya@abc.in',
 'phone_num': 9895743843}

In [26]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#     demonstrate this.
# A5. We can use the find() method to query the mongoDB database by putting some kind of filter in the find()
#     method.This can be done in the following way:
for i in collection_shaurya0323.find({"name":"Shaurya"}):       #This query will print all the reords where name
    print(i)                                                    # is 'Shaurya'.

{'_id': ObjectId('64e2e77cc0e52ce9537357b9'), 'name': 'Shaurya', 'mail': 'shaurya@abc.in', 'phone_num': 9895743843}
{'_id': ObjectId('64e2fec1c0e52ce9537357c3'), 'name': 'Shaurya', 'mail': 'shaurya@abc.in', 'phone_num': 9895743843}

In [34]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
# A6. The sort() method specifies the order in which the query returns the matching documents from the given 
#     collection. You must apply this method to the cursor before retrieving any documents from the database.
#     It takes a document as a parameter that contains a field: value pair that defines the sort order of the 
#     result set. The value is 1 or -1 specifying an ascending or descending sort respectively.
data2=[{"name":"Shrey","mail":"shrey@abc.in","age":19},
       {"name":"Shrey1","mail":"shrey1@abc.in","age":17},
       {"name":"Shrey2","mail":"shrey2@abc.in","age":120},
       {"name":"Shrey3","mail":"shrey3@abc.in","age":15}]
collection_shaurya0323.insert_many(data2)

In [47]:
collection_shaurya0323.find().sort({age:1}) #Can you please explain me why this error is occuring in my remarks section.

NameError: name 'age' is not defined

In [48]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used.
# A7. delete_one(): The delete_one() method deletes the first document from the collection that matches the 
#                   given selection criteria. It will delete/remove a single document from the collection.
#     delete_many(): Delete_many() is used when one needs to delete more than one document. A query object 
#                    containing which document to be deleted is created and is passed as the first parameter 
#                    to the delete_many().
#     drop(): drop() method is used to drop a collection from a database. It completely removes a collection
#             from the database and does not leave any indexes associated with the dropped collections.