In [3]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
# A1. A database is an organized collection of structured information, or data, typically stored electronically 
#     in a computer system.Difference between SQL and NoSQL are:

#     SQL:
#   1.Tables with fixed rows and columns.
#   2.Developed with a focus on reducing data duplication.
#   3.Oracle, MySQL, Microsoft SQL Server, and PostgreSQL.

#     NoSQL:
#   1.Document: JSON documents, Key-value: key-value pairs, Wide-column: tables with rows and dynamic columns, Graph: nodes and edges.
#   2.Developed with a focus on scaling and allowing for rapid application change driven by agile and DevOps practices.
#   3.MongoDB and CouchDB, Key-value: Redis and DynamoDB, Wide-column: Cassandra and HBase, Graph: Neo4j and Amazon Neptune.

In [4]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# A2. DDL stands for Data Defination Language which consists of commands which are used to define the structure of
#     the database including commands like CREATE, DROP, ALTER and TRUNCATE. 
#     Use of the following commands are:
#   1.CREATE: This command is used to create a new table in SQL. The user has to give information like table name,
#             column names, and their datatypes.For ex:
#             CREATE TABLE table_name (column1 data type, column2 data type,....);
#   2.DROP: This command is used to remove an existing table along with its structure from the Database. For ex:
#           DROP TABLE table_name;
#   3.ALTER: This command is used to add, delete or change columns in the existing table. The user needs to know
#            the existing table name and can do add, delete or modify tasks easily.For ex:
#            ALTER TABLE table_name
#            ADD column_name datatype;
#   4.TRUNCATE: This command is used to remove all rows from the table, but the structure of the table still 
#               exists.For ex:
#               TRUNCATE TABLE table_name;

In [5]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# A3. DML stands for Data Manupulation Language which consists of commands which are used to perform any operation
#     on data being entered in the tables including commands like INSERT, UPDATE and DELETE.
#     Use of the following commands are:
#  1. INSERT: This command is used to enter the information or values into a row. We can connect one or more 
#             records to a single table within a repository using this instruction. This is often used to connect 
#             an unused tag to the documents. For ex:
#             INSERT INTO <table_name> VALUES('value1', 'value2')
#  2. UPDATE: This command is used to alter existing table records. Within a table, it modifies data from one or
#             more records. This command is used to alter the data which is already present in a table.For ex:
#             UPDATE <table_name>
#             SET <column_name = value>
#  3. DELETE: It deletes all archives from a table. This command is used to erase some or all of the previous 
#             table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or 
#             deleted.For ex:
#             DELETE FROM <table_name>
#             WHERE <condition>

In [6]:
# Q4. What is DQL? Explain SELECT with an example.
# A4. The full form of DQL is Data Query Language. These statements are used for performing queries on the data 
#     within schema objects which includes SELECT command.Use of this command is to:
#     SELECT: It is used to retrieve data from the database.For ex:
#             SELECT * FROM <database name>

In [7]:
# Q5. Explain Primary Key and Foreign Key.
# A5. 
#     Primary Key:
#  1. A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column 
#     is unique.
#  2. The table allows only one primary key.	
#  3. The primary key doesn’t allow null values.
#  4. It can identify the record uniquely in the database table.
#  5. In the primary key, the value cannot be removed from the parent table.	

#     Foreign Key:
#  1. A foreign key is generally used to build a relationship between the two tables.
#  2. Tables can allow more than one foreign key.
#  3. The foreign key accepts multiple null values.
#  4. A foreign key is a field in the table that is the primary key in another table.
#  5. In this, the value can be deleted from the child table.

In [3]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# A6 .import mysql.connector
#     mydb = mysql.connector.connect(
#            host="localhost",
#            user="abc",
#            password="password"
#            )
#     mycursor = mydb.cursor()
#     mydb.close()

#     cursor() method:
#     The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to
#     communicate with the MySQL database.
#     Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.
#     You can create Cursor object using the cursor() method of the Connection object/class.

#     execute() method:
#     This method executes the given database operation (query or command). The parameters found in the tuple or
#     dictionary params are bound to the variables in the operation.

In [4]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# A7. Order of execution of SQL clausses in an SQL query is:
#     Order          Clauss
#     1.             FROM 
#     2.             WHERE 
#     3.             GROUP BY 
#     4.             HAVING 
#     5.             SELECT 
#     6.             ORDER BY 
#     7.             LIMIT