In [1]:
# Q1. Create one variable containing following type of data:
#1.string:
a="Hello World"  
#2.list:
b=["Physics Wallah","Apni Kaksha","Unacademy","Byju's"]
#3.float:
c=3.14
#4.tuple:
d=(a,b,c,'Shaurya')

In [2]:
# Q2. Given are some following variables containing data:
#1. var1 = ' ' == str
#2. var2 = ‘[ DS , ML , Python]’ == str
#3. var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] == list
#4. var4 = 1  == int

In [3]:
# Q3. Explain the use of the following operators using an example:
#1. /
e=4/2 # '/', this operator is used to divide a number by another number.
print(e)

2.0

In [4]:
#2. %
f= 5%2 # '%', this operator is used to obtain the remainder when a number is dived by onother.
print(f)

1

In [5]:
#3. //
g= 7//3 #'//', this operator is used to obtain the division result down to the nearest whole number.
print(g)

2

In [6]:
#4. **
h= 3**4 #'**', this operator is used to abtain the number raised to the power
print(h)

81

In [7]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. 
#     Using for loop print the element and its data type.
list1 = ['a',b,3,4.23,['f','d'],4+3j,(6,7,'adc'),range(4),True,None]
for i in list1:
    print(i)
    print(type(i))

a
<class 'str'>
['Physics Wallah', 'Apni Kaksha', 'Unacademy', "Byju's"]
<class 'list'>
3
<class 'int'>
4.23
<class 'float'>
['f', 'd']
<class 'list'>
(4+3j)
<class 'complex'>
(6, 7, 'adc')
<class 'tuple'>
range(0, 4)
<class 'range'>
True
<class 'bool'>
None
<class 'NoneType'>

In [8]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#     times it can be divisible.
a = int(input("Enter The number A"))
b = int(input("Enter The number B"))
i = 0
d = a
while(a>1):
    c=a%b
    if(c==0):
        a=a/b
        i=i+1
        print(a)
    else:
        print(d,"is not purely divisible by ", b)
        break
print("Yes,", d ," is purely divisible by ", b, ", it is divisible" ,i, "times")

Enter The number A 16
Enter The number B 2

8.0
4.0
2.0
1.0
Yes, 16  is purely divisible by  2 , it is divisible 4 times

In [1]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#     divisible by 3 or not.

list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list2:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [3]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#     this property.

# Mutable data type: The varible whose value can be changed anywhere in the program and any number of times is know as mutable type. For example:
a=[2,3,4,5,6,7]
a.append(9)
print(a)

[2, 3, 4, 5, 6, 7, 9]

In [4]:
# Immutable data type: The variable whose value cannot be changed, after it is daclared is known as immutable data type.
b=(2,3,4,5,6,7)
b.append(9)
print(b)

AttributeError: 'tuple' object has no attribute 'append'