In [1]:
import pandas as pd

In [17]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
# A1.
data=[4, 8, 15, 16, 23, 42]
ds1=pd.Series(data)
print(ds1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [18]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#     variable print it.
# A2.
data=[0,1,2,3,4,5,6,7,8,9]
ds2=pd.Series(data)
ds2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [19]:
# Q3. Create a Pandas DataFrame that contains the following data:

# A3.

data={'Name':['Alice','Bob','Claire'],
      'Age':[25, 30, 27],
      'Gender':['Female', 'Male', 'Female']}
df1=pd.DataFrame(data)
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [20]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# A4. In the pandas library, a DataFrame is a two-dimensional, tabular data structure with labeled axes
#     (rows and columns). It can be thought of as a container for Series objects. Each column in a DataFrame is 
#     a pandas Series. A DataFrame can be created by combining multiple Series or other DataFrames.
#     
#     On the other hand, a pandas Series is a one-dimensional labeled array capable of holding any data type.
#     It is similar to a column in a spreadsheet or a single-column table in a database.For ex: ds1 and ds2 are 
#     series whearas df1 is dataframe.
print(ds2)
print("")
print(df1)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [21]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example
#     of when you might use one of these functions?
# A5. Pandas provides a variety of functions for manipulating and analyzing data in a DataFrame. Some common
#     functions include: head(), tail(), coloumns(), dtypes(), shape(), info(), drop(), merge().
#     We use coloumns() function to list all the coloums of a data frame.

In [22]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# A6. The data of all three is mutable while the size of Series is immutable while the size of DataFrame and Panel
#     is mutable.

In [29]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
print(ds1)
print(ds2)
df2={'col1':
print(df2)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
      0
0   4.0
1   8.0
2  15.0
3  16.0
4  23.0
5  42.0
6   NaN
7   NaN
8   NaN
9   NaN